# Database Configuration
POSTGRES_USER=postgres
POSTGRES_HOST=postgres
POSTGRES_DB=n8n
POSTGRES_PASSWORD=askdjlajvanawefcf
POSTGRES_PORT=5432
SCRAPE_TABLE_NAME=gmaps_pm_contacts

# Crawlee Configuration
CRAWLEE_MEMORY_MBYTES=4096
maxConcurrency=5
MAX_CRAWL_DEPTH=2
MAX_CONCURRENT_CRAWLS=3
CRAWL_TIMEOUT_MS=600000

# Docker Compose Configuration
NUM_SCRAPERS=12
START_PORT=3001
CPU_LIMIT=1
MEMORY_LIMIT=3G
TMPFS_SIZE=1G
